<a href="https://colab.research.google.com/github/KondamPravalikaReddy/AirAware-Smart-Air-Quality-Prediction/blob/main/DailyTask_Infosys_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Pravalika')

Pravalika

In [2]:
company='Infosys'
age=17
Percentage=97.2
print(type(age))
print(type(company))
print(type(Percentage))

<class 'int'>
<class 'str'>
<class 'float'>

In [3]:
id(age) #gives address of variable 'age'

11642600

In [4]:
#TASK:1--codes for 1.numeric, 2.integer(Positive,Negative, Binary,Octal,Hexadecimal),3.Float, 4.Boolean(True,False)
number=88
print("Decimal Integer:" ,number)
Positive=24
Negative=-4
print("Positive Integer:",Positive)
print("Negative Integer:",Negative)
bin=0b101
print("Binary: ",bin)
Octal=0o5
print("Octal Number:",Octal)
Hexa=0x2F
print("Hexadecimal Number:",Hexa)
F=9.78
print("Float: ",F)
Value1=1
Value2=0
print("Hexadecimal Number:",Hexa)
print("Boolean True :",Value1)
print("Boolean  False :",Value2)
is_bool=89
print(bool(is_bool))

Decimal Integer: 88
Positive Integer: 24
Negative Integer: -4
Binary:  5
Octal Number: 5
Hexadecimal Number: 47
Float:  9.78
Hexadecimal Number: 47
Boolean True : 1
Boolean  False : 0
True

In [5]:
#Task 2:Code for all Arithmetic Operators(+,-,*,/,//)
a = 10
b = 3

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Floor Division:", a // b)
print("Modulus:", a % b)
print("Exponentiation:", a ** b)

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Exponentiation: 1000

In [6]:
#Task 3:String Operators
str1 = "Hello"
str2 = "World"

# 1. Concatenation [+]
print("Concatenation:", str1 + " " + str2)

# 2. Repetition [*]
print("Repetition:", str1 * 3)

# 3. Slice []
print("Slice:", str1[1])

# 4. Range Slice [:]
print("Range Slice:", str1[1:4])

# 5. In Membership [in]
print("In Membership:", "H" in str1)

# 6. Not in Membership [not in]
print("Not in Membership:", "z" not in str1)

Concatenation: Hello World
Repetition: HelloHelloHello
Slice: e
Range Slice: ell
In Membership: True
Not in Membership: True

In [7]:
#Task4:Write a code to create google form which has all data types using input command-giving user input at runtime.
name = input("Enter your name: ")
age = int(input("Enter your age: "))
marks = float(input("Enter your marks: "))
is_student = input("Are you a student? (yes/no): ")

# Output with different methods
print("Name:", name, "Age:", age, "Marks:", marks, "Student:", is_student)
print("Name: " + name + " Age: " + str(age))
print("Marks: %0.2f" % marks)
print("Student: {} Age: {}".format(is_student, age))
print(f"Name: {name} Age: {age}")

Enter your name: SONY
Enter your age: 20
Enter your marks: 98
Are you a student? (yes/no): YES
Name: SONY Age: 20 Marks: 98.0 Student: YES
Name: SONY Age: 20
Marks: 98.00
Student: YES Age: 20
Name: SONY Age: 20

In [9]:
#Task5: Functions Manupulating Lists only
Data=['MANI','Male','5.9']
#max(Data)
#min(Data)
print(max(Data))
print(min(Data))
Data.append('RAJU') #Adds at end of the list
print(Data)
Data.insert(1,'REDDY') #insert according to index position
print(Data)
Data.pop() #Removes last element
print(Data)
print(Data[2]) #Accessing through Index
Data[2:6] #Range Slicing
Data.remove("5.9") #Removes the element from the list
print(Data)
print(Data.count('35')) #Counts the repetition
print(Data.index('Male')) #Index position of an element

Male
5.9
['MANI', 'Male', '5.9', 'RAJU']
['MANI', 'REDDY', 'Male', '5.9', 'RAJU']
['MANI', 'REDDY', 'Male', '5.9']
Male
['MANI', 'REDDY', 'Male']
0
2

In [10]:
#Task6: Builtin Functions for DICTIONARY
d = {'x': 1, 'y': 2}
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['x', 'y'])
dict_values([1, 2])
dict_items([('x', 1), ('y', 2)])

In [11]:
#Task7: Functions to modify set
a={"C","France","Python"}
b=a.copy()
a.add("Ruby")
print(a)
a.update("DJANGO","POWER SHELL")
print(a)
a.discard("ROM") #Doesn't show any error for an item is not presented in list
#a.remove("RAM") --Shows error if item is not present
print(a)
print(b)
print(a.clear()) #made set empty
print(a)

{'C', 'Python', 'France', 'Ruby'}
{'O', 'C', 'A', ' ', 'S', 'R', 'H', 'E', 'L', 'France', 'Python', 'N', 'P', 'W', 'D', 'Ruby', 'G', 'J'}
{'O', 'C', 'A', ' ', 'S', 'R', 'H', 'E', 'L', 'France', 'Python', 'N', 'P', 'W', 'D', 'Ruby', 'G', 'J'}
{'C', 'Python', 'France'}
None
set()

In [12]:
#Task8:SET operations
a = {1, 2, 3}
b = {3, 4, 5}

print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(a.symmetric_difference(b))

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

In [13]:
# Task 9: Calculator with + - * / % // ** using if elif else

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
op = input("Enter operator (+, -, *, /, %, //, **): ")

if op == '+':
    print("Result:", a + b)
elif op == '-':
    print("Result:", a - b)
elif op == '*':
    print("Result:", a * b)
elif op == '/':
    if b != 0:
        print("Result:", a / b)
    else:
        print("Error: Division by zero!")
elif op == '%':
    print("Result:", a % b)
elif op == '//':
    print("Result:", a // b)
elif op == '':
    print("Result:", a ** b)
else:
    print("Invalid Operator")

Enter first number: 22
Enter second number: 23
Enter operator (+, -, *, /, %, //, **): +
Result: 45.0

In [14]:
#Task 10: For loop using tuple, dictionary, set
# Tuple
my_tuple = (10, 20, 30, 40)
print("Tuple elements:")
for item in my_tuple:
    print(item)

# Dictionary
my_dict = {"name": "Alice", "age": 22, "city": "Hyderabad"}
print("\nDictionary elements:")
for key, value in my_dict.items():
    print(key, ":", value)

# Set
my_set = {100, 200, 300, 400}
print("\nSet elements:")
for item in my_set:
    print(item)

Tuple elements:
10
20
30
40

Dictionary elements:
name : Alice
age : 22
city : Hyderabad

Set elements:
200
100
400
300

In [15]:
#task11-Structural Pattern Matching Calculator

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
op = input("Enter operator (+, -, *, /, %, //, **): ")

match op:
    case '+':
        print("Result:", a + b)
    case '-':
        print("Result:", a - b)
    case '*':
        print("Result:", a * b)
    case '/':
        if b != 0:
            print("Result:", a / b)
        else:
            print("Error: Division by zero!")
    case '%':
        print("Result:", a % b)
    case '//':
        print("Result:", a // b)
    case '':
        print("Result:", a ** b)
    case _:
        print("InvalidÂ Operator")

Enter first number: 23
Enter second number: 90
Enter operator (+, -, *, /, %, //, **): -
Result: -67.0

In [16]:
#task12-write all file concept commands
# Writing to a file
f = open("example.txt", "w")
f.write("Hello, this is a file write example.\n")
f.close()

# Reading from a file
f = open("example.txt", "r")
print("File Content:\n", f.read())
f.close()

# Appending to a file
f = open("example.txt", "a")
f.write("This line is appended.\n")
f.close()

# Reading line by line
f = open("example.txt", "r")
for line in f:
    print("Line:", line.strip())
f.close()

# Using with-statement (auto-closes file)
with open("example.txt", "r") as f:
    data = f.read()
    print("\nUsing with-statement:\n", data)

File Content:
 Hello, this is a file write example.

Line: Hello, this is a file write example.
Line: This line is appended.

Using with-statement:
 Hello, this is a file write example.
This line is appended.